.card__header {
  width: 100%;
  height: 37%;
  background-image: url('../../images/bg-pattern-card.svg');
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__body-img {
  border:.3rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top:-45%;
}

.card__body-title {
  margin-top: 4.2rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  color: var(--very-dark-desaturated-blue);
}

.card__body-title span {
  padding-left:.2rem;
  color: var(--dark-gray);
  font-weight: 400;
}

.card__body-paragraph {
  font-weight: 400;
  color: var(--dark-grayish-blue);
  font-size: .7rem;
  margin-bottom: 1rem;
}